.table-responsive tbody {
    display: block;
    overflow: auto;
    height: 350px;
    width: 100%;
}

.table-responsive thead tr {
    display: block;
}

.table-responsive table {
    white-space: nowrap;
}

.table-responsive td,
.table-responsive th:nth-of-type(1n+2) {
    min-width: 150px;
}